#cuecard{
    background-color: #101418;
   
}

#audio{
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    max-width: 600px;
    height: 45px;
    border-radius: 0;
    background-color: white;
    margin-top: 50px;
}